@use '../../../_assets/vars';

.menu {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100vh;
  background: linear-gradient(rgb(51, 51, 51) 0%, rgb(39, 39, 39) 100%);
  padding: 88px 24px;
  transition: transform 0.25s;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;

  &.open {
    transform: translateX(0);
  }
}

.btnClose {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 40px;
  height: 40px;
  top: 16px;
  left: 24px;
  border-radius: 20px;
  position: absolute;
  img {
    width: 16px;
    height: 16px;
  }
}

.link {
  display: inline-block;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: vars.$white;
}