@use "../../../_assets/vars";


.features {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 30px;
  background: linear-gradient(112deg, rgb(92, 115, 255) 13.25%, rgb(56, 78, 212) 47.37%, rgb(31, 49, 155) 88.88%);
  position: relative;

  &:after {
      position: absolute;
      border-radius: 100%;
      z-index: -1;
      transform: translateZ(0px);
      filter: blur(70px);
      background: rgb(81, 98, 255);
      opacity: 0.6;
      height: 146px;
      width: 160px;
      bottom: -5px;
      right: -80px;
      content: "";
  }
  .title {
    color: vars.$white;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 16px;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 6px;

  img {
    width: 16px;
    height: 16px;
  }
}

.itemText {
  color: vars.$white;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}