@use "../../../_assets/vars";

.whatYouGet {
  position: relative;
  margin-bottom: 56px;

  .title {
    margin-bottom: 24px;
    color: vars.$white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
}

.container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    border-radius: 100%;
    background: rgb(255, 176, 11);
    z-index: -1;
    transform: translateZ(0px);
    opacity: 0.3;
    filter: blur(81px);
    width: 190px;
    height: 141px;
    top: -40px;
    left: -76px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2,164px);
  justify-content: center;
  justify-items: center;
  gap: 16px;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 16px 12px 20px;
  border-radius: 35px;
  color: vars.$white;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  max-width: 164px;
  width: 100%;

  &:nth-child(1) {
    background: radial-gradient(86.94% 86.96% at 40.55% 28.01%, rgba(211, 58, 48, 0.5) 0%, rgba(211, 58, 48, 0) 100%), rgba(255, 255, 255, 0.08);
  }

  &:nth-child(2) {
    background: radial-gradient(86.94% 86.96% at 40.55% 28.01%, rgba(142, 59, 225, 0.5) 0%, rgba(142, 59, 225, 0) 100%), rgba(255, 255, 255, 0.08);
  }

  &:nth-child(3) {
    background: radial-gradient(86.94% 86.96% at 40.55% 28.01%, rgba(255, 197, 86, 0.5) 0%, rgba(255, 197, 86, 0) 100%), rgba(255, 255, 255, 0.08);
  }

  &:nth-child(4) {
    background: radial-gradient(86.94% 86.96% at 40.55% 28.01%, rgba(39, 201, 119, 0.5) 0%, rgba(39, 201, 119, 0) 100%), rgba(255, 255, 255, 0.08);
  }

  &:nth-child(5) {
    background: radial-gradient(86.94% 86.96% at 40.55% 28.01%, rgba(142, 59, 225, 0.5) 0%, rgba(142, 59, 225, 0) 100%), rgba(255, 255, 255, 0.08);
  }

  &:nth-child(6) {
    background: radial-gradient(86.94% 86.96% at 40.55% 28.01%, rgba(70, 81, 255, 0.5) 0%, rgba(70, 81, 255, 0) 100%), rgba(255, 255, 255, 0.08);
  }

  &:nth-child(7) {
    background: radial-gradient(86.94% 86.96% at 40.55% 28.01%, rgba(70, 81, 255, 0.5) 0%, rgba(70, 81, 255, 0) 100%), rgba(255, 255, 255, 0.08);
  }

  &:nth-child(8) {
    background: radial-gradient(86.94% 86.96% at 40.55% 28.01%, rgba(211, 58, 48, 0.5) 0%, rgba(211, 58, 48, 0) 100%), rgba(255, 255, 255, 0.08);
  }
}

.itemImg {
  width: 140px;
  height: 90px;
}