@use '../../_assets/vars.scss';

.errors {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 40px;
  padding-top: 100px;
  text-align: center;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    padding-bottom: 90px;
  }

  & .block {
    margin: 0 auto;
    order: 2;
    text-align: left;

    @media (min-width: vars.$media-tab-lg) {
      flex: 0 0 calc((100% / 12) * 6);
      max-width: calc((100% / 12) * 6);
      padding-right: 20px;
      padding-left: 20px;
    }

    @media (min-width: 1024px) {
      order: 1;
    }
  }

  & .title {
    font-size: 24px;
    line-height: 160%;
    margin-bottom: 0;
    padding-bottom: 28px;
    text-align: center;
    color: #0b1525;

    @media (min-width: 320px) and (max-width: 1919px) {
      font-size: calc(21.6px + 0.75vw);
    }

    @media (min-width: 1920px) {
      font-size: 36px;
    }

    @media (min-width: 1024px) {
      text-align: left;
    }
  }

  & .text {
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 0;
    padding-bottom: 28px;
    text-align: center;

    @media (min-width: 1024px) {
      text-align: left;
    }
  }

  & .img {
    margin-bottom: 20px;
    order: 1;
    max-width: 100%;
    object-fit: contain;

    @media (min-width: vars.$media-tab-lg) {
      flex: 0 0 calc((100% / 12) * 6);
      max-width: calc((100% / 12) * 6);
      padding-right: 20px;
      padding-left: 20px;
    }

    @media (min-width: 1024px) {
      margin-bottom: 0;
      order: 2;
    }
  }

  & .button {
    border-radius: 12px;
    font-weight: 700;
    text-align: center;
    min-width: 136px;
    width: fit-content;
    margin: 0 auto;

    @media (min-width: vars.$media-tab-lg) {
      margin: 0;
    }
  }
}

.errorsPage {
  align-items: center;
  display: flex;
  flex: 1 1;
  z-index: 10;
}
