*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1;
  font-family: "Open Sans",sans-serif;
  background-color: #050506;
  scrollbar-width: auto;
  scrollbar-color: #000 #fff;
  color: #2a3950;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
}

@media (min-width: 320px) and (max-width: 1919px) {
  body {
    font-size: calc(13.6px + 0.125vw);
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 16px;
  }
}

.fixedBody {
  position: fixed;
  overflow: hidden;
  left: 0px;
  top: 0px;
  width: 100%;
  padding-right: 0px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: contain;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input[type='submit'],
button {
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  border: none;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  @media (max-width: 600px) {
    line-height: 24px;
  }
}

a {
  text-decoration: none;
  color: #2a3950;
}

input::placeholder {
  font-family: inherit, sans-serif;
  color: #7c95ba;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;

  @media (max-width: 780px) {
    font-size: 14px;
    line-height: 18px;
  }
}
