// Main colors
$white: #ffffff;
$dark: #000000;
$text: #2A3950;
$light-blue: #EDEFFC;
$light-blue2: #E5F0FF;
$light-blue3: #E7F1FF;
$blue: #2861b6;
$blue-zodiac: #0E1A38;
$pickled-bluewood: #2F3A5A;
$cloud-burst: #242F4E;
$fiord-2: #3B4666;
$tuna: #393B43;
$french-gray: #C7C6CA;
$zumthor: #ECF4FF;
$grey: #2E3C49;
$shark: #23252D;
$error: #FCEDF2;
$red: #DC2727;
$black-squeeze: #F4F8FB;
$athens-gray: #E1E2EC;
$white-lilac: #F0F0FA;
$gray: #65768E;
$gray2: #7C95BA;
$gray3: #D5DCED;
$firefly:#0B1525;
$fiord: #465173;
$mischka: #E4E2E6;
$dodger-blue: #1F6DFF;
$dodger-blue-v1: #356DFF;
$lynch: #6B7699;
$spun-pearl: #ACAAAF;

// Animation
$fast-animation: .3s ease-in-out;

// Media Query
$media-mob-sm: 320px;
$media-mob-md: 360px;
$media-mob-standart: 415px;
$media-mob-lg: 550px;

$media-tab-sm: 680px;
$media-tab-md: 768px;
$media-tab-lg: 1024px;

$media-des-sm: 1280px;
$media-des-md: 1360px;
$media-des-lg: 1600px;
$media-max: 1920px;
