// Main colors
$btn-secondary-bg: linear-gradient(rgb(249, 225, 103) 0%, rgb(255, 182, 31) 100%);
$btn-primary-bg: linear-gradient(rgb(43, 43, 44) 0%, rgb(0, 0, 0) 100%);
$white: #FFFFFF;
$slate-gray: #7B8898;
$mirage: #17202A;
$galliano: #E1B00B;


// Animation
$fast-animation: .3s ease-in-out;

// Media Query
$media-mob-sm: 320px;
$media-mob-md: 360px;
$media-mob-standart: 415px;
$media-mob-lg: 550px;

$media-tab-sm: 680px;
$media-tab-md: 768px;
$media-tab-lg: 1024px;

$media-des-sm: 1280px;
$media-des-md: 1360px;
$media-des-lg: 1600px;
$media-max: 1920px;
