@use '../../../_assets/vars';

.card {
  position: relative;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
  align-items: center;
  padding: 18px 16px;
  border-radius: 22px;
  background: linear-gradient(rgb(92, 92, 92) 0%, rgb(65, 64, 64) 100%);
  color: vars.$silver-chalice;
  transition: color .2s ease-in-out,opacity .2s ease-in-out;
  z-index: 2;
  
  &:after {
    opacity: 0;
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(92, 92, 92) 0%, rgb(65, 64, 64) 100%);
    z-index: 1;
    border-radius: 22px;
  }

  &.popular {
    padding-top: 44px;
  }

  &.active {
    color: vars.$white;

    &:after {
      content: "";
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      position: absolute;
      top: -2px;
      left: -2px;
      background: linear-gradient(90deg, rgb(249, 225, 103) 19.34%, rgb(255, 182, 31) 60.05%);
      box-shadow: rgba(253, 211, 62, 0.4) 2px 5px 20px 0px;
      opacity: 1;
      border-radius: 22px;
    }

    .fakeInput {
      border-color: transparent;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9ImNoZWNrIj4KPGNpcmNsZSBpZD0iT3ZhbCIgY3g9IjEyIiBjeT0iMTIiIHI9IjEyIiBmaWxsPSJ1cmwoI3BhaW50MF9saW5lYXJfNTZfMTI3NykiLz4KPHBhdGggaWQ9IkNvbXBsZXRlIiBkPSJNOCAxMkwxMC45ODAxIDE0Ljk4MDFMMTYuNDU5OCA5LjUwMDI2IiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L2c+CjxkZWZzPgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXJfNTZfMTI3NyIgeDE9IjEyIiB5MT0iMCIgeDI9IjEyIiB5Mj0iMjQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0Y5RTE2NyIvPgo8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNGRkI2MUYiLz4KPC9saW5lYXJHcmFkaWVudD4KPC9kZWZzPgo8L3N2Zz4K");
    }
  }
}

.period {
  margin-bottom: 4px;
  width: 100%;
  color: vars.$white;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.fullOldPrice {
  margin-right: 8px;
  color: vars.$silver-chalice;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  text-decoration-line: line-through;
}

.fullNewPrice {
  margin-right: auto;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  color: vars.$white;
}

.periodWrapper {
  position: relative;
  z-index: 2;
}

.oneDayOldPrice {
  justify-self: flex-end;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  text-decoration-line: line-through;
  text-decoration-color: vars.$error;
  color: vars.$white;
  margin: auto 4px 0 0;
  display: flex;

}

.oneDayNewPrice {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  
}

.currency {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  
  margin-right: 8px;

}

.zero {
  font-size: 48px;
  font-weight: 700;
  line-height: 40px;
  
  margin-right: 4px;
}

.mostPopular{
  width: 100%;
  height: 34px;
  position: absolute;
  top: -5px;
  left: 0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px 0;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(90deg, rgb(249, 225, 103) 19.34%, rgb(255, 182, 31) 60.05%);
  box-shadow: none;
  color: rgb(125, 54, 3);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  z-index: 2;
}

.perDay {
  font-size: 10px;
  font-weight: 600;
  line-height: 10px;
  
}

.radio {
  position: absolute;
  left: -400%;
  z-index: 2;
}

.fakeInput {
  width: 24px;
  height: 24px;
  border: 2px solid rgb(169, 169, 169);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
  flex-shrink: 0;
  background-image: none;
  transition: border-color .2s ease-in-out;
  position: relative;
  z-index: 2;
}

.oneDayWrapper {
  margin: 0 0 0 auto;
  display: flex;
  height: 100%;
  min-height: 40px;
  position: relative;
  z-index: 2;
}

.oneDayOldPriceWrapper {
  display: flex;

}

.oneDayNewPriceWrapper {
  display: flex;
  flex-direction: column;
}