@use '../../_assets/vars';

.progressContainer {
  height: 100dvh;
  background-color: vars.$black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.video {
  width: 100%;
  max-height: 432px;
}

.userAccount {
  position: relative;
  z-index: 2;
  color: vars.$white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
