@use '../../_assets/mixin.scss';
@use'../../_assets/vars.scss';

.hamburger {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
  position: relative;
  @include mixin.non-select;

  &:focus-visible {
    outline: 10px solid #eee;
    background-color: #eee;
  }

  & .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $dark;

    &:nth-child(1) {
      transform: translateY(-3px);
      transition: transform 0.2s ease-in-out 0.2s, opacity 0.2s ease-in-out 0.2s;
    }

    &:nth-child(2) {
      transform: translateY(2px);
      transition: transform 0.2s ease-in-out;
    }

    &:nth-child(3) {
      transform: translateY(0px);
      transition: transform 0.2s ease-in-out;
    }

    &:nth-child(4) {
      transform: translateY(5px);
      transition: transform 0.2s ease-in-out 0.2s, opacity 0.2s ease-in-out 0.2s;
    }
  }

  &.open {
    & .line {
      &:nth-child(1) {
        opacity: 0;
        transform: translateY(3px);
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
      }

      &:nth-child(2) {
        transform: rotate(-45deg) translateY(1px);
        transition: transform 0.2s ease-in-out 0.2s;
      }

      &:nth-child(3) {
        transform: rotate(45deg) translateY(-2px);
        transition: transform 0.2s ease-in-out 0.2s;
      }

      &:nth-child(4) {
        transform: translateY(-3px);
        opacity: 0;
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
      }
    }
  }
}
