@use "../../_assets/vars";

.prices {
  padding-top: 24px;
  padding-bottom: 40px;

  .title {
    margin-bottom: 32px;
    margin-top: 0;
    color: vars.$white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
}

.pricesContainer {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.provider {
  max-width: 293px;
  margin: 0px auto 16px;
  width: 100%;
  display: block;
}

.money {
  color: vars.$white;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}