@use "../../../../_assets/vars";

.lavr {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 24px;
}

.lavrImgLeft {
  transform: rotateY(180deg);
  width: 33px;
  height: 64px;
}

.lavrImgRight {
  width: 33px;
  height: 64px;
}

.lavrTitle {
  color: vars.$slate-gray;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.lavrText {
  color: vars.$white;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 32px;
}