@use "../../../_assets/vars";


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 327px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  gap: 24px;
  padding: 24px;
  border-radius: 50px;
  background: linear-gradient(rgb(69, 42, 0) 40%, rgb(34, 14, 14) 100%);

  .title {
    color: vars.$white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: initial;
  }
}

.modalList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.modalItem {
  display: flex;

  &:nth-of-type(2) {
    .modalValue {
      color: rgb(255, 255, 255);
      filter: blur(3px);
    }
  }

  &:nth-of-type(3) {
    .modalValue {
      color: rgb(255, 255, 255);
      filter: blur(3px);
    }
  }
}

.modalText {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: vars.$white;
  filter: none;
}

.modalValue {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: vars.$bright-sun;
  filter: none;
}

.modalImgWrapper {
  max-width: 135px;
}

.modalCheck {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.modalImage {
  position: absolute;
  width: 141px;
  left: 50%;
  transform: translateX(-50%);
}

.modalDotted {
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0px 2px 4px;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
}

