@use '../../_assets/vars';

.email {
  height: 100dvh;
  padding: 32px 16px;

  .title {
    color: vars.$white;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 159%;
    max-width: 325px;
    width: 100%;
    margin: 32px auto 0;
  }
}

.container {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    border-radius: 100%;
    background: rgb(255, 176, 11);
    z-index: -1;
    transform: translateZ(0px);
    filter: blur(70px);
    opacity: 0.17;
    width: 200px;
    height: 250px;
    top: 65px;
    left: 0px;
  }

  &:after {
    content: "";
    position: absolute;
    border-radius: 100%;
    background: rgb(255, 176, 11);
    transform: translateZ(0px);
    opacity: 0.2;
    width: 300px;
    height: 300px;
    top: 30%;
    right: -65px;
    filter: blur(80px);
    z-index: -2;
  }
}

.emailWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  max-width: 500px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

.peopleStardet {
  max-width: 325px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 8px;
  margin: 0px auto 24px;
  padding: 8px 16px;
  border-radius: 8px;
  background: linear-gradient(90deg, rgb(64, 38, 11) 0%, rgb(141, 89, 2) 100%);
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  img {
    width: 16px;
    height: 16px;
  }
}

.peopleStardetText {
  color: vars.$white;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  text-transform: uppercase;

  span {
    font-size: 24px;
  }
}

.subTitle {
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}


.list {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 24px 0;

  img {
    width: 24px;
    height: 24px;
  }
}

.item {
  height: auto;
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  gap: 4px;
  max-width: 164px;
  padding: 8px;
  border-radius: 12px;
  background: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.12) 80.51%);
  z-index: 1;
}

.itemText {
  color: vars.$white;
  text-align: left;
  font-size: 11px;
  font-weight: 400;
  line-height: 140%;
}
