@use '../../_assets/mixin.scss';
@use '../../_assets/vars';

.btn {
  width: 100%;
  max-width: 343px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 16px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 30px;
  background: vars.$btn-secondary-bg;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: rgb(0, 0, 0);
  transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

}
