@use '../../../_assets/vars';


.technology {
  margin-bottom: 56px;

  .title {
    margin-bottom: 32px;
    color: vars.$white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
}

.container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    border-radius: 100%;
    background: rgb(255, 176, 11);
    z-index: -1;
    transform: translateZ(0px);
    opacity: 0.4;
    filter: blur(65px);
    width: 190px;
    height: 141px;
    top: 33px;
    left: -50px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.listItem {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  gap: 16px;
  padding: 12px 16px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  width: 100%;
  max-width: 345px;
  color: vars.$white;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}

.itemImg {
  width: 40px;
  height: 40px;
}