@use '../../../_assets/vars.scss';

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
  margin-bottom: 32px;
  position: relative;
  margin-left: -16px;
  margin-right: -16px;

  &:before {
    content: "";
    position: absolute;
    border-radius: 100%;
    background: vars.$galliano;
    z-index: -1;
    transform: translateZ(0px);
    filter: blur(70px);
    opacity: 0.45;
    top: 0px;
    left: -100px;
    width: 179px;
    height: 140px;
  }

  &:after {
      content: "";
      position: absolute;
      border-radius: 100%;
      background: vars.$galliano;
      z-index: -1;
      transform: translateZ(0px);
      filter: blur(70px);
      height: 210px;
      top: 150px;
      right: -106px;
      width: 200px;
      opacity: 0.3;
    }
}

.lavr {
  display: flex;
  gap: 12px;
}

.lavrImgLeft {
  transform: rotateY(180deg);
  width: 33px;
  height: 64px;
}

.lavrImgRight {
  width: 33px;
  height: 64px;
}

.lavrTitle {
  color: vars.$slate-gray;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.lavrText {
  color: vars.$white;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 32px;
}

.heroImgWrapper {
  position: relative;
  width: 100%;
  height: 579px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 16px;
  margin-bottom: 54px;

  .button {
    position: relative;
    z-index: 1;
    color: vars.$white;
    background-image: vars.$btn-primary-bg;
  }
}

.heroImgphone {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 603px;
}

.heroImgcat {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  width: 325px;
  height: 303px;
}

.title {
  position: relative;
  z-index: 1;
  margin-bottom: 12px;
  color: vars.$mirage;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 32px;
}

.heroText {
  position: relative;
  z-index: 1;
  margin-bottom: 16px;
  color: vars.$mirage;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 20px;
}

.advantages {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
  position: relative;
  contain: layout;

  &:after {
    content: "";
    position: absolute;
    border-radius: 100%;
    background: rgb(255, 176, 11);
    z-index: -1;
    transform: translateZ(0px);
    opacity: 0.2;
    filter: blur(45px);
    width: 135px;
    height: 131px;
    top: -87px;
    right: -60px;
  }
}

.advantagesItem {
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  gap: 4px;
  max-width: 164px;
  padding: 8px;
  border-radius: 12px;
  background: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.12) 80.51%);
  z-index: 1;

  img {
    width: 24px;
    height: 24px;
  }

  span {
    color: vars.$white;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 14px;
  }
}