@use '../../_assets/vars';

.mainPage {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  color: vars.$white;
  padding: 35px 20px 20px;

  p {
    font-size: 15px;
    font-weight: 400;
  }

  a {
    color: rgb(253, 211, 62);
    text-decoration: underline;
  }

  section {
    margin-bottom: 30px;
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  h4 {
    color: vars.$silver;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
  }

  ul {
    padding-left: 32px;
    list-style: initial;

    li {
      line-height: 1.5;
    }
  }

  ol {
    padding-left: 32px;
    list-style: decimal;

    li {
      line-height: 1.5;
    }
  }
}

.mb10 {
  margin-bottom: 10px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb20Pl50 {
  margin-bottom: 20px;
  padding-left: 50px;
}